<!DOCTYPE html>
<html lang="en" th:replace="~{base::parent(~{::#content},~{::title},~{::script})}">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-th-text="${loggedInUser.name} + ' | SCM'">Profile Page</title>
<!--  th:text= -->
</head>
<body> 
    <div id="content">
            <!-- This is sidebar if user logged in -->
        <div th:if="${loggedInUser}">
            <div data-th-replace="~{user/sidebar::sidebar}"></div>
        </div>

        <!-- Profile page Containt -->
        <div  class="sm:pl-64 pt-40"  style="height: 1000px;">
            <h4>Hewllo This profile Page</h4>
            <h1 data-th-text="${loggedInUser.name}"></h1>
            <h2 data-th-text="${loggedInUser.email}"></h2>
        </div>
    </div>
 
    <script>
        console.log("profile page");
    </script>
</body>
</html>