<!DOCTYPE html>
<html lang="en" th:replace="~{base::parent(~{::#content},~{::title},~{::script})}">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Contact</title>
<!--  th:text= -->
</head>
<body> 
    <div id="content">
            <!-- This is sidebar if user logged in -->
        <div th:if="${loggedInUser}">
            <div data-th-replace="~{user/sidebar::sidebar}"></div>
        </div>
        <div  class="sm:pl-64 mt-40 pt-40">
            <div class="grid grid-cols-12">
                <div class="col-span-3"></div>
                    <div class="col-span-12 md:col-span-6">
                        <div class="card block max-w-200 p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                           
                            <h5 class="text-white-900 text-3xl font-semibold ">Update Contact </h5>
                            <div data-th-replace="message::messagebox"></div>
                            <form class="mt-4" data-th-action="@{'/user/contacts/update/'+${contactId}}" method="post" enctype="multipart/form-data" data-th-object="${contactForm}">
                                <!-- Name -->
                                <div>
                                    <label for="input-group-1" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact Name</label>
                                    <div class="relative mb-2">
                                        <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                        <i class="fa-solid fa-user"></i>
                                        </div>
                                        <input type="text" data-th-field="*{name}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Name of the contact">
                                    </div>
                                    <p data-th-if="${#fields.hasErrors('name')}" data-th-errors="*{name}" class="text-red-600 px-1 py-0 mb-2 ">Name is Required</p>

                                      <!-- Email -->
                                    <div>
                                        <label for="input-group-1" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact Email</label>
                                        <div class="relative mb-2">
                                            <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                            <i class="fa-solid fa-envelope"></i>
                                            </div>
                                            <input type="text" data-th-field="*{email}"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="contact@gmail.com">
                                    </div>
                                    <p data-th-if="${#fields.hasErrors('email')}" data-th-errors="*{email}" class="text-red-600 px-1 py-0 mb-2 ">Name is Required</p>

                                        <!-- Phone Number -->
                                    <div>
                                            <label for="input-group-1" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact Phone</label>
                                            <div class="relative mb-2">
                                            <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                            <i class="fa-solid fa-phone"></i>
                                            </div>
                                            <input type="text" data-th-field="*{phoneNumber}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="+91 9876543210">
                                    </div>
                                    <p data-th-if="${#fields.hasErrors('phoneNumber')}" data-th-errors="*{phoneNumber}" class="text-red-600 px-1 py-0 mb-2 ">Name is Required</p>

                                    <!-- Address -->
                                    <div>
                                            <label for="input-group-1" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact Address</label>
                                            <div class="relative mb-2">
                                            <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                            </div>
                                            <textarea id="message" data-th-field="*{address}" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Contact Address..."></textarea>
                                    </div>
                                    <p data-th-if="${#fields.hasErrors('address')}" data-th-errors="*{address}" class="text-red-600 px-1 py-0 mb-2 ">Name is Required</p>

                                    <!-- Description -->
                                    <div>
                                        <label for="input-group-1" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact Description</label>
                                        <div class="relative mb-6">
                                        <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                        </div>
                                        <textarea id="message" data-th-field="*{description}" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Write something about Contact..."></textarea>
                                </div>
                                <div class="flex space-x-3">
                                    <div class="w-full">
                                    <!-- Social Link -->
                                    <div class="mb-3">
                                        <label for="input-group-1" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Social Link</label>
                                        <div class="relative mb-6">
                                        <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                            <i class="fa-solid fa-earth-americas"></i>
                                        </div>
                                        <input type="text" data-th-field="*{websiteLink}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="https://www.example.com/">
                                    </div>
                                    </div>
                                    <div class="w-full">
                                        <!-- Social Link -->
                                    <div>
                                        <div class="relative mb-6">
                                        <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                            <i class="fa-brands fa-linkedin"></i>
                                        </div>
                                        <input type="text" data-th-field="*{linkedInLink}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="https://www.example.com/">
                                    </div>
                                    </div>
                                </div>
                                <!-- Contact Image -->
                                <div>
                                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="small_size">Contact Image</label>
                                    <input type="file" data-th-field="*{contactImage}" id="image_file_input" class="block w-full mb-5 text-xs text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400">
                                    <img data-th-src="*{picture}" class="max-h-52 mx-auto rounded-lg " id="upload_image_preview" alt=""/>
                                    <p data-th-if="${#fields.hasErrors('contactImage')}" data-th-errors="*{contactImage}" class="text-red-600 px-1 py-0 mb-1 "></p>
                                </div>
                                
                                <!-- favorite contact -->
                                <div class="flex items-center mb-4">
                                    <input id="default-checkbox" data-th-field="*{favorite}" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                    <label for="default-checkbox" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"> <i class="fa-solid fa-star"></i> Marked Contact as Favorite .</label>
                                </div>
                                <div class="mb-3 flex justify-center">
                                    <button type="submit" class="px-3 py-2 rounded-md  bg-blue-700 hover:bg-blue-800  text-white transition duration-200">Update</button>
                                    <button type="reset"  class="ml-3 w-20 px-3 py-2 rounded-md  bg-red-700 hover:bg-orange-800 text-white transition duration-200">Reset</button>
                                </div>
                                </div>
                            </form>
                        </div>
                    </div>
            </div>
        </div>
    </div>
 
    <script data-th-src="@{'/js/admin.js'}"></script>
    <script>
        console.log("add contact page");
    </script>
</body>
</html>